<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822402455843-4aho423v1i90n8n44e6sfip1dsqqbppk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822402455843-4aho423v1i90n8n44e6sfip1dsqqbppk</string>
	<key>API_KEY</key>
	<string>AIzaSyDTr_yoBfXUV2zl-xcpD0orYVAamI0bi18</string>
	<key>GCM_SENDER_ID</key>
	<string>822402455843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youbike</string>
	<key>PROJECT_ID</key>
	<string>youbike-85a8f</string>
	<key>STORAGE_BUCKET</key>
	<string>youbike-85a8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822402455843:ios:cbf9db5f74cb5685485496</string>
</dict>
</plist>